280NPLIST;1.0;D;K;7;localesD;K;3;duaD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;3;duaS;5;duáláE;K;19;CPLocaleCountryCodeD;K;2;CMS;8;CamerounE;E;K;18;CPLocaleIdentifierS;3;duaK;20;CPLocaleLanguageCodeS;3;duaK;35;_CPLocaleExemplarCharacterSetStringS;44;aábɓcdɗeéɛ{ɛ́}fgiíjklmn{ny}ŋoóɔ{ɔ́}prstuúūwyK;24;CPLocaleDecimalSeparatorS;1;,K;25;CPLocaleGroupingSeparatorS;1; K;34;CPLocaleQuotationBeginDelimiterKeyS;1;«K;32;CPLocaleQuotationEndDelimiterKeyS;1;»K;43;CPLocaleAlternateQuotationBeginDelimiterKeyS;1;‘K;41;CPLocaleAlternateQuotationEndDelimiterKeyS;1;’E;E;E;