280NPLIST;1.0;D;K;7;localesD;K;2;gvD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;2;gvS;5;GaelgE;K;19;CPLocaleCountryCodeD;K;2;GBS;14;Rywvaneth UnysK;2;IMS;12;Ellan VanninE;E;K;18;CPLocaleIdentifierS;2;gvK;20;CPLocaleLanguageCodeS;2;gvK;35;_CPLocaleExemplarCharacterSetStringS;27;abcçdefghijklmnopqrstuvwxyzE;E;E;