280NPLIST;1.0;D;K;7;localesD;K;2;iiD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;2;deS;3;ꄓꇩꉙK;2;enS;3;ꑱꇩꉙK;2;esS;4;ꑭꀠꑸꉙK;2;frS;3;ꃔꇩꉙK;2;iiS;3;ꆈꌠꉙK;2;itS;4;ꑴꄊꆺꉙK;2;jaS;3;ꏝꀪꉙK;2;ptS;4;ꁍꄨꑸꉙK;5;pt-BRS;6;ꀠꑟꁍꄨꑸꉙK;2;ruS;3;ꊉꇩꉙK;3;undS;5;ꅉꀋꌠꅇꂷK;2;zhS;3;ꍏꇩꉙK;7;zh-HansS;5;ꈝꐯꍏꇩꉙK;7;zh-HantS;5;ꀎꋏꍏꇩꉙE;K;19;CPLocaleCountryCodeD;K;2;BRS;2;ꀠꑭK;2;CNS;2;ꍏꇩK;2;DES;2;ꄓꇩK;2;FRS;2;ꃔꇩK;2;GBS;2;ꑱꇩK;2;INS;2;ꑴꄗK;2;ITS;3;ꑴꄊꆺK;2;JPS;2;ꏝꀪK;2;RUS;3;ꊉꇆꌦK;2;USS;2;ꂰꇩK;2;ZZS;6;ꃅꄷꅉꀋꐚꌠE;E;K;18;CPLocaleIdentifierS;2;iiK;20;CPLocaleLanguageCodeS;2;iiK;35;_CPLocaleExemplarCharacterSetStringS;3;ꀀ-ꒌK;24;CPLocaleDecimalSeparatorS;1;.K;25;CPLocaleGroupingSeparatorS;1;,E;E;E;