280NPLIST;1.0;D;K;7;localesD;K;3;kkjD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;2;enS;5;yamanK;2;frS;9;numbu buyK;3;kkjS;4;kakɔE;K;19;CPLocaleCountryCodeD;K;2;CMS;7;KamɛrunE;E;K;18;CPLocaleIdentifierS;3;kkjK;20;CPLocaleLanguageCodeS;3;kkjK;35;_CPLocaleExemplarCharacterSetStringS;134;aáàâ{a̧}bɓcdɗ{ɗy}eéèêɛ{ɛ́}{ɛ̀}{ɛ̂}{ɛ̧}fg{gb}{gw}hiíìî{i̧}jk{kp}{kw}lm{mb}n{nd}ǌ{ny}ŋ{ŋg}{ŋgb}{ŋgw}oóòôɔ{ɔ́}{ɔ̀}{ɔ̂}{ɔ̧}prstuúùû{u̧}vwyK;24;CPLocaleDecimalSeparatorS;1;,K;25;CPLocaleGroupingSeparatorS;1;.K;34;CPLocaleQuotationBeginDelimiterKeyS;1;«K;32;CPLocaleQuotationEndDelimiterKeyS;1;»K;43;CPLocaleAlternateQuotationBeginDelimiterKeyS;1;‹K;41;CPLocaleAlternateQuotationEndDelimiterKeyS;1;›E;E;E;