280NPLIST;1.0;D;K;7;localesD;K;2;kwD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;2;arS;6;ArabekK;2;cyS;7;KembrekK;2;daS;5;DanekK;2;deS;8;AlmaynekK;2;enS;7;SowsnekK;2;esS;7;SpaynekK;2;euS;6;BaskekK;2;frS;7;FrenkekK;2;gaS;9;WordhonekK;2;itS;6;ItalekK;2;jaS;7;JapanekK;2;kwS;8;kernewekK;2;nlS;10;IseldiryekK;2;ptS;11;PortyngalekK;5;pt-BRS;18;Portyngalek BrasilK;2;ruS;6;RussekK;2;zhS;6;ChinekK;7;zh-HansS;13;Chinek sempelK;7;zh-HantS;18;Chînek TradycyonalE;K;19;CPLocaleCountryCodeD;K;2;BRS;6;BrasilK;2;CNS;5;ChinaK;2;DES;6;AlmaynK;2;FRS;9;Pow FrenkK;2;GBS;14;Rywvaneth UnysK;2;INS;5;EyndaK;2;ITS;5;ItaliK;2;JPS;5;JapanK;2;RUS;5;RussiK;2;USS;11;Statys UnysE;E;K;18;CPLocaleIdentifierS;2;kwK;20;CPLocaleLanguageCodeS;2;kwK;35;_CPLocaleExemplarCharacterSetStringS;26;abcdefghijklmnopqrstuvwxyzE;E;E;