280NPLIST;1.0;D;K;7;localesD;K;3;mgoD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;3;mgoS;5;metaʼK;3;undS;10;ngam tisɔʼE;K;19;CPLocaleCountryCodeD;K;2;CMS;7;KamalunK;2;ZZS;14;aba aben tisɔ̀E;E;K;18;CPLocaleIdentifierS;3;mgoK;20;CPLocaleLanguageCodeS;3;mgoK;35;_CPLocaleExemplarCharacterSetStringS;45;aàb{ch}deèə{ə̀}fg{gh}iìjkmnŋoòɔ{ɔ̀}prstuùwyzʼK;24;CPLocaleDecimalSeparatorS;1;.K;25;CPLocaleGroupingSeparatorS;1;,K;34;CPLocaleQuotationBeginDelimiterKeyS;1;“K;32;CPLocaleQuotationEndDelimiterKeyS;1;”K;43;CPLocaleAlternateQuotationBeginDelimiterKeyS;1;‘K;41;CPLocaleAlternateQuotationEndDelimiterKeyS;1;’E;E;E;