280NPLIST;1.0;D;K;7;localesD;K;3;nnhD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;2;deS;8;nzǎmɔ̂ɔnK;2;enS;7;ngilísèK;2;frS;8;felaŋséeK;3;nnhS;16;Shwóŋò ngiembɔɔnE;K;19;CPLocaleCountryCodeD;K;2;CMS;7;KàmalûmE;E;K;18;CPLocaleIdentifierS;3;nnhK;20;CPLocaleLanguageCodeS;3;nnhK;35;_CPLocaleExemplarCharacterSetStringS;108;aáàâǎbcdeéèêěɛ{ɛ́}{ɛ̀}{ɛ̂}{ɛ̌}fghiíìjklmnŋoóòôǒɔ{ɔ́}{ɔ̀}{ɔ̂}{ɔ̌}p{pf}s{sh}t{ts}uúùûǔʉ{ʉ́}{ʉ̀}{ʉ̂}{ʉ̌}vwẅyÿzʼK;24;CPLocaleDecimalSeparatorS;1;,K;25;CPLocaleGroupingSeparatorS;1;.K;34;CPLocaleQuotationBeginDelimiterKeyS;1;«K;32;CPLocaleQuotationEndDelimiterKeyS;1;»K;43;CPLocaleAlternateQuotationBeginDelimiterKeyS;1;“K;41;CPLocaleAlternateQuotationEndDelimiterKeyS;1;”E;E;E;