280NPLIST;1.0;D;K;7;localesD;K;2;nrD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;2;nrS;10;isiNdebeleE;E;K;18;CPLocaleIdentifierS;2;nrK;20;CPLocaleLanguageCodeS;2;nrK;35;_CPLocaleExemplarCharacterSetStringS;25;abcdefghijklmnopqstuvwxyzK;24;CPLocaleDecimalSeparatorS;1;,K;25;CPLocaleGroupingSeparatorS;1; K;34;CPLocaleQuotationBeginDelimiterKeyS;1;‘K;32;CPLocaleQuotationEndDelimiterKeyS;1;’K;43;CPLocaleAlternateQuotationBeginDelimiterKeyS;1;“K;41;CPLocaleAlternateQuotationEndDelimiterKeyS;1;”E;E;E;