280NPLIST;1.0;D;K;7;localesD;K;3;nsoD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;3;nsoS;16;Sesotho sa LeboaE;E;K;18;CPLocaleIdentifierS;3;nsoK;20;CPLocaleLanguageCodeS;3;nsoK;35;_CPLocaleExemplarCharacterSetStringS;25;abdeêfghijklmnoôprsštuwxyK;24;CPLocaleDecimalSeparatorS;1;,K;25;CPLocaleGroupingSeparatorS;1; K;34;CPLocaleQuotationBeginDelimiterKeyS;1;‘K;32;CPLocaleQuotationEndDelimiterKeyS;1;’K;43;CPLocaleAlternateQuotationBeginDelimiterKeyS;1;“K;41;CPLocaleAlternateQuotationEndDelimiterKeyS;1;”E;E;E;