280NPLIST;1.0;D;K;7;localesD;K;4;rootD;K;19;_localeDisplayNamesD;K;13;localePatternS;11;%1$@ (%2$@)K;15;localeSeparatorS;10;%1$@, %2$@K;20;localeKeyTypePatternS;10;%1$@: %2$@E;K;18;CPLocaleIdentifierS;4;rootK;20;CPLocaleLanguageCodeS;4;rootK;35;_CPLocaleExemplarCharacterSetStringS;0;K;24;CPLocaleDecimalSeparatorS;1;.K;25;CPLocaleGroupingSeparatorS;1;,K;34;CPLocaleQuotationBeginDelimiterKeyS;1;“K;32;CPLocaleQuotationEndDelimiterKeyS;1;”K;43;CPLocaleAlternateQuotationBeginDelimiterKeyS;1;‘K;41;CPLocaleAlternateQuotationEndDelimiterKeyS;1;’E;E;E;