280NPLIST;1.0;D;K;7;localesD;K;3;ssyD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;2;aaS;5;QafarE;K;19;CPLocaleCountryCodeD;K;2;DJS;7;YabuutiK;2;ERS;7;EretriaK;2;ETS;7;OtobbiaE;E;K;18;CPLocaleIdentifierS;3;ssyK;20;CPLocaleLanguageCodeS;3;ssyK;35;_CPLocaleExemplarCharacterSetStringS;22;abtseckxidqrfgolmnuwhyE;E;E;