280NPLIST;1.0;D;K;7;localesD;K;2;tsD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;2;csS;8;Xi CzechK;2;daS;9;Xi DanishK;2;deS;11;Xi JarimaniK;2;elS;9;Xi GirikiK;2;enS;9;Xi NgheziK;2;esS;8;Xi spainK;2;etS;13;hi xi EstoniaK;2;fiS;10;Xi FinnishK;2;frS;8;Xi FurwaK;2;heS;8;XiHeberuK;2;huS;13;hi xi HungaryK;2;isS;13;hi xi IcelandK;2;itS;9;Xi IthaliK;2;jaS;9;Xi JapaniK;2;koS;7;XikoreaK;2;ltS;15;hi xi LithuaniaK;2;lvS;12;hi xi LatviaK;2;nlS;7;Xi bunuK;2;plS;9;Xi PolixiK;2;ptS;8;PutukeziK;2;roS;13;hi xi RomaniaK;2;ruS;10;Xi RhaxiyaK;2;svS;9;Xi SwidenK;2;tsS;8;XitsongaE;E;K;18;CPLocaleIdentifierS;2;tsK;20;CPLocaleLanguageCodeS;2;tsK;35;_CPLocaleExemplarCharacterSetStringS;26;abcdefghijklmnopqrstuvwxyzK;24;CPLocaleDecimalSeparatorS;1;,K;25;CPLocaleGroupingSeparatorS;1; K;34;CPLocaleQuotationBeginDelimiterKeyS;1;‘K;32;CPLocaleQuotationEndDelimiterKeyS;1;’K;43;CPLocaleAlternateQuotationBeginDelimiterKeyS;1;“K;41;CPLocaleAlternateQuotationEndDelimiterKeyS;1;”E;E;E;