280NPLIST;1.0;D;K;7;localesD;K;2;voD;K;19;_localeDisplayNamesD;K;20;CPLocaleLanguageCodeD;K;2;voS;7;VolapükE;E;K;18;CPLocaleIdentifierS;2;voK;20;CPLocaleLanguageCodeS;2;voK;35;_CPLocaleExemplarCharacterSetStringS;29;aäbcdefghijklmnoöpqrsštuüvxyzK;34;CPLocaleQuotationBeginDelimiterKeyS;1;“K;32;CPLocaleQuotationEndDelimiterKeyS;1;”K;43;CPLocaleAlternateQuotationBeginDelimiterKeyS;1;‘K;41;CPLocaleAlternateQuotationEndDelimiterKeyS;1;’E;E;E;